@model IEnumerable<Predmet>
@{
    ViewBag.Title = "Predmeti";
}

<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">

            <h2 style="text-align:center">Predmeti</h2>

            @Html.ActionLink("Dodaj Novi", "Dodaj", "Predmeti", null, new { @class = "btn btn-primary btn-lg" })

            <table class="table table-striped table-hover ">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Naziv</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (Predmet predmet in Model)
                    {
                        <tr>
                            <td>
                                @predmet.PredmetID
                            </td>
                            <td>
                                @predmet.NazivPredmeta
                            </td>
                        </tr>
                    }
                </tbody>
            </table>

        </div>
    </div>
</div>


