@model IEnumerable<Ucenik>
@{
    ViewBag.Title = "Lista ucenika";

}

        <div class="col-md-12 col-xs-12 ">

            <table class="table table-striped table-hover" id="podaci">
                <thead>
                    <tr>
                        <th>JMBG</th>
                        <th>Ime</th>
                        <th>Prezime</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var Ucenik in Model)
                    {
                        <tr>
                            <td>@Ucenik.JMBG</td>
                            <td>@Ucenik.Ime</td>
                            <td>@Ucenik.Prezime</td>
                            <td>@Html.ActionLink("Izmeni", "Izmeni", new { id=Ucenik.UcenikID})</td>
                        </tr>
                    }
                </tbody>
                <tfoot>
                    <tr>
                        <th>JMBG</th>
                        <th>Ime</th>
                        <th>Prezime</th>
                        <th></th>
                    </tr>
                </tfoot>
            </table>
        </div>

@section Scripts
{
    <script>
        $(function () {
            $('#podaci').DataTable({
                "language": {
                    "url": "https://cdn.datatables.net/plug-ins/1.10.15/i18n/Serbian.json"
                }
            });
        });

    </script>

}