@model Ucenik
@{
    ViewBag.Title = "Index";
}

<h2>Odeljenje</h2>

<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-4">
            <label for="razred">Razred</label>
            <select id="razred">
                <option value="1">Prvi</option>
                <option value="2">Drugi</option>
                <option value="3">Treći</option>
                <option value="4">Četvrti</option>
            </select>
            <label for="odeljenja">Odeljenje</label>
            <select id="odeljenja">
                
            </select>

            <span id="dugme" ></span>

            <p id="p1"></p>

        </div>
    </div>
    <div id="poruka">  </div>
    <div class="row" id="ucenici">

    </div>

    <div class="modal fade" id="potvrda" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Da li ste sigurni?</h4>
                </div>
                <div class="modal-body">
                    <p>Posle arhiviranja odeljenje nije moguće vratiti.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" onclick="dugmeClickArhiviraj()">Potvrdi</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Zatvori</button>
                </div>
            </div>
        </div>
    </div>


</div>

@section Scripts
{
    @Scripts.Render("~/bundles/jqueryval");

    <script>
        function Odeljenja() {
            var razred = $("#razred").val();
            var zahtev = $.getJSON("/Odeljenje/OdeljenjeTrajanje?godina="+razred);


            zahtev.done(function (odeljenja) {
                
                for (var odeljenje in odeljenja) {
                    $("#odeljenja").append("<option value='" + odeljenja[odeljenje].Oznaka + "'>" + odeljenja[odeljenje].Oznaka + "</option>");
                }
            });
            zahtev.fail(function (gr) { $("#p1").html(gr.statusText); });
        }

        function GenerisiKarticuUcenika(id,ime,prezime,fotografija)
        {
            if (fotografija == null)
                fotografija = "http://via.placeholder.com/140x176";
            else
                fotografija = "/slike/" + fotografija;

            //return   "<div class='col-md-3'><div class='ucenik-kartica'><img src='" + fotografija + "' class='ucenik-slika' style='width:140px;height:176px;' /><div class='ucenik-ime'>" + ime + " " + prezime + " </div></div></div>";
            return '<div class="col-sm-6 col-md-3" style="text-align:center; "><div class="thumbnail"><img src="' + fotografija + '" style="width:140px; height:176px; display: block;"> <div class="caption"> <h3>' + ime + ' ' + prezime + '</h3> </div></div> </div>';
        }

        function Ucenici() {
            var razred = $("#razred").val();
            var odeljenje = $("#odeljenja").val();

            if (odeljenje == undefined)
                odeljenje = 1;

            var zahtev = $.getJSON("/Odeljenje/OdeljenjeUcenici?razred=" + razred + "&oznakaOdeljenja=" + odeljenje);

            zahtev.done(function (podaci) {

                if (podaci.Ucenici == null)
                {
                    $("#ucenici").append('<div class="alert alert-warning" role="alert"><strong>Upozorenje!</strong> Nema učenika u izabranom odeljenju </div>');
                    return;
                }

                if (podaci.Kreirano)
                {
                    $("#dugme").append("<button class='btn btn-primary' id='dugmeArhiviraj' data-toggle='modal' data-target='#potvrda'>Arhiviraj</button> <br/>");
                    
                }
                else
                    $("#dugme").append("<button type='submit' class='btn btn-primary' id='dugmeKreiraj' onClick=dugmeClickKreiraj()>Kreiraj</button>");

                for (var ucenik in podaci.Ucenici) {
                    $("#ucenici").append(GenerisiKarticuUcenika(podaci.Ucenici[ucenik].ID, podaci.Ucenici[ucenik].Ime, podaci.Ucenici[ucenik].Prezime, podaci.Ucenici[ucenik].Fotografija));
                }


            });
            zahtev.fail(function (gr) { $("#p1").html(gr.statusText); });
        }

        $(function () {
            $("#razred").change(function () {
                $("#odeljenja").html("");
                $('#odeljenja').change();  //Okidanje dogadjaja za promenu drop down-a za izbor odeljenja prilikom promene razreda.
                Odeljenja();
            }).change();


            $('#odeljenja').change(function () {
                $("#ucenici").html("");
                $("#dugme").html("");
                Ucenici();
            }).change();

        });

        function dugmeClickKreiraj()
        {
                var odeljenje = {
                    Razred: $("#razred").val(),
                    Oznaka: $("#odeljenja").val()
                }
                var zahtev = $.post("/Odeljenje/KreirajOdeljenje", odeljenje);

                zahtev.done(function (rezultat) {
                    if (rezultat == 0) {
                        $('#odeljenja').change();
                        //$("#poruka").append('<div class="alert alert-success alert-dismissable"><strong>Uspeh!</strong> Uspešno kreirano odeljenje.</div>');
                        $("#poruka").append('<div class="alert alert-success alert-dismissable"><a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a><strong>Uspeh!</strong> Uspešno kreirano odeljenje.</div>');


                    }
                });
                zahtev.fail(function (rezultat) {

                });

        }

        function dugmeClickArhiviraj()
        {

            var razred = $("#razred").val();
            var odeljenje = $("#odeljenja").val();

            var zahtev = $.getJSON("/Odeljenje/MogucnostArhiviranja?razred=" + razred + "&oznakaOdeljenja=" + odeljenje);

            zahtev.done(function (podaci) {
                if (podaci.Moguce)
                    console.log("radi")
                else
                    console.log("ne radi")
            });

            zahtev.fail(function (gr) { $("#p1").html(gr.statusText); });



        }




    </script>
    
}