@model SkolskaGodinaViewModel
@{
    ViewBag.Title = "Index";
}

<div class="row">
    <div class="col-md-12">
        <h2 class="text-center">Formiranje odeljenja za školsku @Model.PocetakSkolskeGodine/@Model.KrajSkolskeGodine godinu.</h2>
    </div>
</div>
@*<h2 id="porukaZaSkolskuGodinu"></h2>*@

<div class="row">
    <div class="col-md-12">
        <br />
        <br />
        <form class="form-inline">
            <center>
                <label>Godina:</label>
                <select id="razred" style="width:100px;" name="Razred" class="form-control">
                    <option value="1">I</option>
                    <option value="2">II</option>
                    <option value="3">III</option>
                    <option value="4">IV</option>
                </select>
                <label>Odeljenje:</label>
                <select id="odeljenja" style="width:100px;" name="Odeljenje" class="form-control"></select>
            </center>
        </form>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="col-md-12">
            <div class="col-md-12">
                <div class="col-md-12">
                    <br />
                    <h3 id="odeljenjeNaslov"></h3>
                    <br />
                </div>
            </div>
        </div>
    </div>
</div>
<div id="poruka">  </div>
<div class="row">
    <div class="col-md-12" id="ucenici">

    </div>
</div>

@*<div class="modal fade" id="potvrda" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Da li ste sigurni da želite da kreirate odeljenje?</h4>
                </div>
                <div class="modal-body">
                    <p>Posle kreiranja odeljenja kreirano odeljenje ćete moći da pregledate u delu <strong>Pregled kreiranih</strong></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" data-dismiss="modal" onclick="dugmeClickKreiraj()">Potvrdi</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Zatvori</button>
                </div>
            </div>
        </div>
    </div>*@



@section Scripts
{

    <script>
        function Odeljenja() {
            var razred = $("#razred").val();
            var zahtev = $.getJSON("/Odeljenje/OdeljenjeTrajanje?godina=" + razred);

            var razredOption = "";

            if (razred == 1) {
                razredOption = "I-";
            }
            else if (razred == 2) {
                razredOption = "II-";
            }
            else if (razred == 3) {
                razredOption = "III-";
            }
            else if (razred == 4) {
                razredOption = "IV-";
            }

            zahtev.done(function (odeljenja) {

                for (var odeljenje in odeljenja) {
                    $("#odeljenja").append("<option value='" + odeljenja[odeljenje].Oznaka + "'>" + razredOption + odeljenja[odeljenje].Oznaka + "</option>");
                }
            });
            zahtev.fail(function (gr) { $("#p1").html(gr.statusText); });
        }

        function GenerisiKarticuUcenika(id, ime, prezime, fotografija, pol) {
            if (fotografija == null) {
                if (pol == "Ženski") {
                    fotografija = "/ProfilneSlike/female.png";
                }
                else {
                    fotografija = "/ProfilneSlike/male.png";
                }
            }
            else {
                fotografija = "data:image;base64," + fotografija;
            }

            //return   "<div class='col-md-3'><div class='ucenik-kartica'><img src='" + fotografija + "' class='ucenik-slika' style='width:140px;height:176px;' /><div class='ucenik-ime'>" + ime + " " + prezime + " </div></div></div>";
            //return '<div class="col-sm-6 col-md-3" style="text-align:center; "><div class="thumbnail"><img src="' + fotografija + '" style="width:140px; height:176px; display: block;"> <div class="caption"> <h3>' + ime + ' ' + prezime + '</h3> </div></div> </div>';

            return '<div class="col-md-2" style="text-align:center; background-color:#9dbf75; margin-top:50px; margin-left:40px;"><br><div class="thumbnail"><br><img src="' + fotografija + '" style="width:150px; height:200px; display: block;"> <div class="caption"> <h3>' + ime + ' ' + prezime + '</h3> </div></div><br></div>';

        }

        function Ucenici() {
            var razred = $("#razred").val();
            var odeljenje = $("#odeljenja").val();
            var odeljenjeOznaka = $("#odeljenja option:selected").text();

            if (odeljenje == undefined)
            {
                odeljenje = 1;

                if (razred == 1) {
                    odeljenjeOznaka = "I-1";
                }
                else if (razred == 2) {
                    odeljenjeOznaka = "II-1";
                }
                else if (razred == 3) {
                    odeljenjeOznaka = "III-1";
                }
                else if (razred == 4) {
                    odeljenjeOznaka = "IV-1";
                }
            }

            //ispis podataka o odeljenju
            $("#odeljenjeNaslov").html("");
            $("#odeljenjeNaslov").append("Učenici " + odeljenjeOznaka + " odeljenja");

            var zahtev = $.getJSON("/Odeljenje/OdeljenjeUcenici?razred=" + razred + "&oznakaOdeljenja=" + odeljenje + '&status=2');

            zahtev.done(function (podaci) {

                if (podaci.Ucenici == null) {
                    $("#ucenici").append('<div class="alert alert-warning" role="alert"><strong>Upozorenje!</strong> Nema učenika u izabranom odeljenju </div>');
                    return;
                }


                $("#dugme").append("<button type='submit' class='btn btn-primary' id='dugmeKreiraj' data-toggle='modal' data-target='#potvrda'>Kreiraj</button>");

                for (var ucenik in podaci.Ucenici) {
                    $("#ucenici").append(GenerisiKarticuUcenika(podaci.Ucenici[ucenik].ID, podaci.Ucenici[ucenik].Ime, podaci.Ucenici[ucenik].Prezime, podaci.Ucenici[ucenik].Fotografija, podaci.Ucenici[ucenik].Pol));
                }


            });
            zahtev.fail(function (gr) { $("#p1").html(gr.statusText); });
        }

        function PopuniSkolskuGodinu() {
            var razred = $("#razred").val();
            var odeljenje = $("#odeljenja").val();

            if (odeljenje == undefined)
                odeljenje = 1;

            var zahtev = $.getJSON("/Odeljenje/OdeljenjeSkolskaGodina?godina=" + razred + "&oznaka=" + odeljenje);

            zahtev.done(function (podaci) {

                if (podaci.PocetakSkolskeGodine != 0) {
                    $("#porukaZaSkolskuGodinu").html("Formiranje odeljenja za školsku godinu: <span id='skolskaGodina'></span>");
                    $("#skolskaGodina").html(podaci.PocetakSkolskeGodine + '/' + (parseInt(podaci.PocetakSkolskeGodine) + 1));
                }
                else {
                    $("#porukaZaSkolskuGodinu").html("");
                }


            });

            zahtev.fail(function (gr) { $("#p1").html(gr.statusText); });

        }

        $(function () {
            $("#razred").change(function () {
                $("#odeljenja").html("");
                $('#odeljenja').change();  //Okidanje dogadjaja za promenu drop down-a za izbor odeljenja prilikom promene razreda.
                Odeljenja();
                PopuniSkolskuGodinu();
            }).change();


            $('#odeljenja').change(function () {
                $("#ucenici").html("");
                $("#dugme").html("");
                Ucenici();
                PopuniSkolskuGodinu();
            }).change();

        });

        function dugmeClickKreiraj() {
            var odeljenje = {
                Razred: $("#razred").val(),
                Oznaka: $("#odeljenja").val()
            }
            var zahtev = $.post("/Odeljenje/KreirajOdeljenje", odeljenje);

            zahtev.done(function (rezultat) {
                if (rezultat == 0) {
                    $('#odeljenja').change();
                    //$("#poruka").append('<div class="alert alert-success alert-dismissable"><strong>Uspeh!</strong> Uspešno kreirano odeljenje.</div>');
                    $("#poruka").append('<div class="alert alert-success alert-dismissable"><a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a><strong>Uspeh!</strong> Uspešno kreirano odeljenje.</div>');


                }
            });
            zahtev.fail(function (rezultat) {

            });

        }

        function dugmeClickArhiviraj() {

            var razred = $("#razred").val();
            var odeljenje = $("#odeljenja").val();

            var zahtev = $.getJSON("/Odeljenje/MogucnostArhiviranja?razred=" + razred + "&oznakaOdeljenja=" + odeljenje);

            zahtev.done(function (podaci) {
                if (podaci.Moguce)
                    console.log("radi")
                else
                    console.log("ne radi")
            });

            zahtev.fail(function (gr) { $("#p1").html(gr.statusText); });

        }

    </script>

}