@model Ucenik
@{
    ViewBag.Title = "Index";
}

<h2>Odeljenje</h2>

<div class="container">
    <div class="row">
        <div class="col-md-3 col-md-offset-4">
            <label for="razred">Razred</label>
            <select id="razred">
                <option value="1">Prvi</option>
                <option value="2">Drugi</option>
                <option value="3">Treći</option>
                <option value="4">Četvrti</option>
            </select>
            <label for="odeljenja">Odeljenje</label>
            <select id="odeljenja">
                
            </select>

            <p id="p1"></p>

        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <div class="ucenik-kartica">
                <img src="http://via.placeholder.com/140x176"  class="ucenik-slika"/>
                <div class="ucenik-ime">
                    Petar Petrović
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="ucenik-kartica">
                <img src="http://via.placeholder.com/140x176" class="ucenik-slika"/>
                <div class="ucenik-ime">
                    Petar Petrović
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="ucenik-kartica">
                <img src="http://via.placeholder.com/140x176" class="ucenik-slika"/>
                <div class="ucenik-ime">
                    Petar Petrović
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="ucenik-kartica">
                <img src="http://via.placeholder.com/140x176" class="ucenik-slika"/>
                <div class="ucenik-ime">
                    Petar Petrović
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="ucenik-kartica">
                <img src="http://via.placeholder.com/140x176" class="ucenik-slika" />
                <div class="ucenik-ime">
                    Petar Petrović
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="ucenik-kartica">
                <img src="http://via.placeholder.com/140x176" class="ucenik-slika" />
                <div class="ucenik-ime">
                    Petar Petrović
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="ucenik-kartica">
                <img src="http://via.placeholder.com/140x176" class="ucenik-slika" />
                <div class="ucenik-ime">
                    Petar Petrović
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="ucenik-kartica">
                <img src="http://via.placeholder.com/140x176" class="ucenik-slika" />
                <div class="ucenik-ime">
                    Petar Petrović
                </div>
            </div>
        </div>


    </div>
</div>


    @*<div class="form-group">
        @Html.LabelFor(u => u.Razred, new { @class = "col-md-3 control-label" })
        <div class="col-md-9">
            @Html.DropDownListFor(u => u.Razred, new SelectList( Enumerable.Range(1,4)), " ", new { @class = "form-control" })
            @Html.ValidationMessageFor(u => u.Razred )
        </div>
    </div>*@
@section Scripts
{
    @Scripts.Render("~/bundles/jqueryval");

    <script>
        function Odeljenja() {
            var razred = $("#razred").val();
            var zahtev = $.getJSON("/Odeljenje/OdeljenjeTrajanje/"+razred);


            zahtev.done(function (odeljenja) {

                for (var odeljenje in odeljenja) {
                    $("#odeljenja").append("<option value='" + odeljenja[odeljenje].Id + "'>" + odeljenja[odeljenje].Oznaka + "</option>");
                }
            });
            zahtev.fail(function (gr) { $("#p1").html(gr.statusText); });
        }


        $(function () {
            $("#razred").change(function () {
                $("#odeljenja").html("");

                Odeljenja();
            }).change();



        });




    </script>
    





}