@model SkolskaGodinaViewModel
@{
    ViewBag.Title = "PregledKreiranih";
}

<div class="row">
    <div class="col-md-12">
        <h2 class="text-center">Odeljenja za školsku @Model.PocetakSkolskeGodine/@Model.KrajSkolskeGodine godinu.</h2>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <br />
        <br />
        <form class="form-inline">
            <center>
                <label>Godina:</label>
                <select id="razred" style="width:100px;" name="Razred" class="form-control">
                    <option value="1">I</option>
                    <option value="2">II</option>
                    <option value="3">III</option>
                    <option value="4">IV</option>
                </select>
                <label>Odeljenje:</label>
                <select id="odeljenja" style="width:100px;" name="Odeljenje" class="form-control"></select>
            </center>
        </form>
        @*<span id="dugme"></span>

            <p id="p1"></p>*@

    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="col-md-12">
            <div class="col-md-12">
                <div class="col-md-12">
                    <br />
                    <h3 id="odeljenjeNaslov"></h3>
                    <br />
                </div>
            </div>
        </div>
    </div>
</div>
<div id="poruka">  </div>
<div class="row">
    <div class="col-md-12" id="ucenici">

    </div>
</div>

@section Scripts
{

    <script>
        var statusiUcenika = [];

        $(function () {
            $("#razred").change(function () {
                $("#odeljenja").html("");
                $('#odeljenja').change();  //Okidanje dogadjaja za promenu drop down-a za izbor odeljenja prilikom promene razreda.
                Odeljenja();
            }).change();


            $('#odeljenja').change(function () {
                $("#ucenici").html("");
                $("#dugme").html("");
                Ucenici();
            }).change();

            VratiSveStatuseUcenika();

        });

        //vracaju se svi statusi ucenika i smestaju se u globalnu promenljivu
        function VratiSveStatuseUcenika() {
            var zahtev = $.getJSON("/Ucenici/VratiSveStatuseUcenika");

            zahtev.done(function (podaci) {
                statusiUcenika = podaci;
            });
        }

        function Odeljenja() {
            var razred = $("#razred").val();
            var zahtev = $.getJSON("/Odeljenje/OdeljenjeTrajanje?godina=" + razred);

            var razredOption = "";

            if (razred == 1) {
                razredOption = "I-";
            }
            else if (razred == 2) {
                razredOption = "II-";
            }
            else if (razred == 3) {
                razredOption = "III-";
            }
            else if (razred == 4) {
                razredOption = "IV-";
            }

            zahtev.done(function (odeljenja) {

                for (var odeljenje in odeljenja) {
                    $("#odeljenja").append("<option value='" + odeljenja[odeljenje].Oznaka + "'>" + razredOption + odeljenja[odeljenje].Oznaka + "</option>");
                }
            });
            zahtev.fail(function (gr) { $("#p1").html(gr.statusText); });
        }


        function Ucenici() {

            var razred = $("#razred").val();
            var odeljenje = $("#odeljenja").val();
            var odeljenjeOznaka = $("#odeljenja option:selected").text();
            if (odeljenje == undefined) {
                odeljenje = 1;

                if (razred == 1) {
                    odeljenjeOznaka = "I-1";
                }
                else if (razred == 2) {
                    odeljenjeOznaka = "II-1";
                }
                else if (razred == 3) {
                    odeljenjeOznaka = "III-1";
                }
                else if (razred == 4) {
                    odeljenjeOznaka = "IV-1";
                }
            }

            //ispis podataka o odeljenju
            $("#odeljenjeNaslov").html("");
            $("#odeljenjeNaslov").append("Učenici " + odeljenjeOznaka + " odeljenja");

            var zahtev = $.getJSON("/Odeljenje/OdeljenjeUcenici?razred=" + razred + "&oznakaOdeljenja=" + odeljenje + '&status=3');

            zahtev.done(function (podaci) {

                if (podaci.Ucenici == null) {
                    $("#ucenici").append('<div class="alert alert-warning" role="alert"><strong>Upozorenje!</strong> Nema učenika u izabranom odeljenju </div>');
                    return;
                }
                else {
                    for (var ucenik in podaci.Ucenici) {
                        $("#ucenici").append(GenerisiKarticuUcenika(podaci.Ucenici[ucenik].ID, podaci.Ucenici[ucenik].Ime, podaci.Ucenici[ucenik].Prezime, podaci.Ucenici[ucenik].Fotografija, podaci.Ucenici[ucenik].BrojUDnevniku, podaci.Ucenici[ucenik].Pol, podaci.Ucenici[ucenik].Status));
                    }
                }
            });
            zahtev.fail(function (gr) { $("#p1").html(gr.statusText); });
        }

        //metoda se poziva za svakog ucenika posebno i ispisuje se njegova kartica
        function GenerisiKarticuUcenika(id, ime, prezime, fotografija, brojudnevniku, pol, status) {


            if (fotografija == null) {
                if (pol == "Ženski") {
                    fotografija = "/ProfilneSlike/female.png";
                }
                else {
                    fotografija = "/ProfilneSlike/male.png";
                }
            }
            else {
                fotografija = "data:image;base64," + fotografija;
            }

            var pom = '<div class="col-md-2" style="width:20%; text-align:center; background-color:#9dbf75; margin-top:50px; margin-left:40px;">'
                    + '<br>'
                        + '<div class="thumbnail">'
                        + '<br>'
                            + '<img src="' + fotografija + '" style="width:194px; height:240px; display: block;"> '
                        + '<div class="caption"> '
                            + '<h5>' + brojudnevniku + '. ' + ime + ' ' + prezime + '</h5> ';

            //prolazi se kroz sve statuse u bazi i ispisuju se radio button-ni sa kojima se menja status
            for (var i = 0; i < statusiUcenika.length; i++) {
                if (status == statusiUcenika[i].Opis) {
                    pom += '<input checked onchange="IzmeniStatusUcenika(' + id + ', ' + statusiUcenika[i].StatusUcenikaId + ')" type="radio" name="status' + id + '" id="' + statusiUcenika[i].StatusUcenikaId + '" value="' + statusiUcenika[i].StatusUcenikaId + '">' + statusiUcenika[i].Opis + '</input> ';
                }
                else {
                    pom += '<input onchange="IzmeniStatusUcenika(' + id + ', ' + statusiUcenika[i].StatusUcenikaId + ')" type="radio" name="status' + id + '" id="' + statusiUcenika[i].StatusUcenikaId + '" value="' + statusiUcenika[i].StatusUcenikaId + '">' + statusiUcenika[i].Opis + '</input> ';
                }
            }

            pom += '</div>'
            + '</div>'
            + '<br>'
            + '</div>';

            return pom;
        }

        //funkcija menja status ucenika preko ajaxa pozivajuci metodu IzmeniStatusUcenika u kontroleru Ucenik
        function IzmeniStatusUcenika(idUcenika, idStatusa) {

            $.ajax({
                type: "POST",
                url: "/Ucenici/IzmeniStatusUcenika?idUcenika=" + idUcenika + "&idStatusa=" + idStatusa,
                success: function (data) {
                    swal({
                        confirmButtonColor: '#8ad919',
                        type: 'success',
                        title: 'Bravo!',
                        text: 'Uspešno ste promenili status učenika!'
                    })
                },
                error: function () {
                    swal(
                    'Ups...',
                    'Došlo je do greške!',
                    'error'
                    )
                }
            });
        }

    </script>

}

