@model Profesor 
@using System.Globalization
@{
    ViewBag.Title = "Index";
}

<h2>Evidencija</h2>

<h3>Datum: @DateTime.Now.ToString("dddd dd.MM.yyy", CultureInfo.CreateSpecificCulture("sr-Latn-CS"))</h3>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-6">
                    <label for="razred">Razred</label>
                    <select id="razred" class="form-control">
                        <option value="1">Prvi</option>
                        <option value="2">Drugi</option>
                        <option value="3">Treći</option>
                        <option value="4">Četvrti</option>
                    </select>
                </div>
                <div class="col-md-6">
                    <label for="odeljenja">Odeljenje</label>
                    <select id="odeljenja" class="form-control"></select>
                </div>
        </div>
    </div>
        </div>
            <p id="p1"></p>
            <div id="poruka">  </div>
            <div class="row" id="ucenici">

            </div>

            <div class="modal fade" id="potvrda" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Da li ste sigurni da želite da kreirate odeljenje?</h4>
                        </div>
                        <div class="modal-body">
                            <p>Posle kreiranja odeljenja kreirano odeljenje ćete moći da pregledate u delu <strong>Pregled kreiranih</strong></p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-success" data-dismiss="modal" onclick="dugmeClickKreiraj()">Potvrdi</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal">Zatvori</button>
                        </div>
                    </div>
                </div>
            </div>  

</div>
@section Scripts
{

    <script>
        function Odeljenja() {
            var razred = $("#razred").val();
            var zahtev = $.getJSON("/Odeljenje/OdeljenjeTrajanje?godina="+razred);


            zahtev.done(function (odeljenja) {

                for (var odeljenje in odeljenja) {
                    $("#odeljenja").append("<option value='" + odeljenja[odeljenje].Oznaka + "'>" + odeljenja[odeljenje].Oznaka + "</option>");
                }
            });
            zahtev.fail(function (gr) { $("#p1").html(gr.statusText); });
        }

        function GenerisiKarticuUcenika(id,ime,prezime,fotografija,brojudnevniku)
        {
            if (fotografija == null)
                fotografija = "http://via.placeholder.com/140x140";
            else
                fotografija = "/slike/" + fotografija;

            //return   "<div class='col-md-3'><div class='ucenik-kartica'><img src='" + fotografija + "' class='ucenik-slika' style='width:140px;height:176px;' /><div class='ucenik-ime'>" + ime + " " + prezime + " </div></div></div>";
            return '<div class="col-sm-6 col-md-3 "><div class="evidencijaKartica"><div id="circle"><img src=' + fotografija + ' alt="evidencijaucenik" style="width:100%" id="img_pregled" /></div><div class="container_pregled_ucenika"><h4>Miodrag Radivojevic</h4><p class="evidencijatitle">15.</p><div id="pbutton"><a id="evidencijabutton" onclick="klik()"><span id="glyph" class="glyphicon glyphicon-ok"></span></a></div></div></div></div>';
        }

        
        function klik() {
                $('.evidencijaKartica').toggleClass("borderevidencijacolor");
                $('#evidencijabutton').toggleClass("buttonevidencijacolor");
                $('#glyph').toggleClass('glyphicon-ok glyphicon-remove');
     
        }
        function klikUcenikKartica(elem) {
            var klasa = $(elem).attr("class").split(' ')[1];

            if (klasa == 'karticaUcenik-prisutan') {
                $(elem).removeClass('karticaUcenik-prisutan')
                $(elem).addClass('karticaUcenik-odsutan')

                $('.evidencijaKartica').toggleClass("borderevidencijacolor");
                $('#evidencijabutton').toggleClass("buttonevidencijacolor");
            }
            else {
                $(elem).removeClass('karticaUcenik-odsutan')
                $(elem).addClass('karticaUcenik-prisutan')
                 $('.evidencijaKartica').toggleClass("borderevidencijacolor");
            $('#evidencijabutton').toggleClass("buttonevidencijacolor");
            }
        }

        function Ucenici() {
            var razred = $("#razred").val();
            var odeljenje = $("#odeljenja").val();

            if (odeljenje == undefined)
                odeljenje = 1;

            var zahtev = $.getJSON("/Odeljenje/OdeljenjeUcenici?razred=" + razred + "&oznakaOdeljenja=" + odeljenje + '&status=3');

            zahtev.done(function (podaci) {

                if (podaci.Ucenici == null)
                {
                    $("#ucenici").append('<div class="alert alert-warning" role="alert"><strong>Upozorenje!</strong> Nema učenika u izabranom odeljenju </div>');
                    return;
                }

                for (var ucenik in podaci.Ucenici) {
                    $("#ucenici").append(GenerisiKarticuUcenika(podaci.Ucenici[ucenik].ID, podaci.Ucenici[ucenik].Ime, podaci.Ucenici[ucenik].Prezime, podaci.Ucenici[ucenik].Fotografija, podaci.Ucenici[ucenik].BrojUDnevniku));
                }


            });
            zahtev.fail(function (gr) { $("#p1").html(gr.statusText); });
        }

      

        $(function () {
            $("#razred").change(function () {
                $("#odeljenja").html("");
                $('#odeljenja').change();  //Okidanje dogadjaja za promenu drop down-a za izbor odeljenja prilikom promene razreda.
                Odeljenja();
            }).change();


            $('#odeljenja').change(function () {
                $("#ucenici").html("");
                $("#dugme").html("");
                Ucenici();
            }).change();

            

        });




    </script>

}
