
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<a href="~/Home/DodavanjeOcenePopup">Dodavanje ocene popup</a>
<br />
<a href="~/Home/US74">US74</a>
<br />
<a href="~/Home/US82">US82</a>
<br />
<a href="~/Home/US84">US84</a>
<br />
