
@{
    ViewBag.Title = "US74";
}

<h2>US74</h2>
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!-- Dodato za switch -->


</head>
<body>
    <div class="container">
        <h2>Modal Example</h2>
        <!-- Trigger the modal with a button -->
        <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">US74</button>

        <!-- Modal -->
        <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog modal-lg">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Dodavanje ocene</h4>
                    </div>
                    <div class="modal-body">
                        <div class="container">
                            
                            
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding:0px;">
                                <div style="display:flex;">
                                    <div style="flex 6;">
                                        <select class="form-control" style="position: absolute;left:0px;">
                                            <option>Kontrolni</option>
                                            <option>Pismeni</option>
                                            <option>Domaci</option>
                                        </select>
                                    </div>
                                    <div style="flex 6;">
                                        <select class="form-control" style="position: absolute;right:0px;">
                                            <option>1</option>
                                            <option>2</option>
                                            <option>3</option>
                                            <option>4</option>
                                            <option>5</option>
                                            <option>+</option>
                                            <option>-</option>
                                        </select>
                                    </div> 
                             </div>

                                <textarea

                            </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>

            </div>
        </div>

    </div>




</body>
</html>